.env
.htpasswd

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Docker
.docker/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db


# Nginx / Proxy

nginx/default.conf
nginx/active/
letsencrypt/


# Logs
backend/logs/*.log